
*{
    overflow: hidden;
}

.dashboard{
    background-color: rgb(18, 18, 18);
    display: flex;
    flex-direction: row;
}


.dashboard-card{
    margin-top: 17px;
    background-color: #202123;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    
}

.dashboard-card h2{
    color: #E0E0E0;
    margin-left: 15px;
    margin-top: 18px;
}

.dashboard-card p{
    color: #7e7e7e;
    margin-left: 15px;
}

.dashboard-input{
    margin-top: 10px;
    background-color: #202123;
    width: 100%;
    height: 90px;
    border-radius: 10px;
}

.dashboard-settings{
    margin-top: 10px;
    background-color: #202123;
    width: 100%;
    height: 640px;
    border-radius: 10px;
}

.dashboard-generate-button{
    display: flex;
    margin-top: 12px;
    background-color: #202123;
    width: 83.5vw;
    height: 51px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #E0E0E0;
}

.dashboard-generate-button p{
    margin-top: 9px;
}

@media (max-width: 1024px) {
    .sidebar{
        display: none;
    }
    .dashboard-main{
        margin-left: 10px;
        min-width: 1000px;
    }
    .dashboard-generate-button{
        width: 100vw;
    }
}