.sidebar {
  background-color: #202123; 
  color: #E0E0E0;
  width: 300px;
  height: 995px;
  font-family: Arial, sans-serif;
  padding-top: 20px;
  border-radius: 15px;
  transform: scale(0.92);
  margin-top: -23px;
  display: flex; /* Set sidebar to flexbox */
  flex-direction: column; /* Stack elements vertically */
  padding-top: 10px;
  position: relative;
  overflow: visible;
}

.sidebar-content {
  flex-grow: 1; /* Allow the content to grow and take available space */
  padding-left: 27px;
  transform: scale(1.2);
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 70px;
}

.profileimg  {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  position: relative;
  z-index: 2
}

.profileimg .clerk-user-button {
  width: 100%; /* Makes the button fill the container */
  height: 100%; /* Makes the button fill the container */
  object-fit: cover; /* Ensures the image inside fits the container */
}



.user_details {
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.profile h3 {
  display: block;
  font-size: 14px;
  flex-direction: column;
  color: rgb(32, 199, 32);
}

.profile h2 {
  font-size: 20px;
}

.menu, .vocal-chains {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #797d85;
}

.menu{
  padding-top: 20px;
}

.menu-button, .chain-button {
  padding-top: 3px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}


.settings {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #38393c;
  height: 40px;
  width: 99%;
  border-radius: 10px;
  margin-bottom: -45px;
}

.settings button{
  color: #f1f1f1;
  background-color: #38393c;
  font-size: 1.1rem;
}

.settings button:hover {
  background-color: #4f5054; /* Slightly lighter color on hover */
}

btn{
  display: flex;
  align-items: center; /* Vertically centers the text */
  background-color: #202123;
  width: 90%;
  height: 35px;
  outline: px solid rgb(32, 6, 6);
}

.icons{
  width: 30px;
  height: 30px;
}

.chain-icons{
  width: 20px;
  height: 20px;
}


.menu-button btn{
  gap: 10px;
}

.chain-button btn{
  gap: 10px;
}

.add{
  color: #828799;
}