.sidebar {
  background-color: #202123; 
  color: #E0E0E0;
  width: 300px;
  height: 995px;
  font-family: Arial, sans-serif;
  padding-top: 20px;
  border-radius: 15px;
  transform: scale(0.92);
  margin-top: -23px;
  display: flex; /* Set sidebar to flexbox */
  flex-direction: column; /* Stack elements vertically */
  padding-top: 10px;
  position: relative;
  overflow: visible;

}

.sidebar-content {
  flex-grow: 1; /* Allow the content to grow and take available space */
  padding-left: 27px;
  transform: scale(1.2);
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 70px;
}

.profile img {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  position: relative;
  z-index: 2
}

.user_details {
  flex-direction: row;
  margin-top: 0px;

}

.profile h3 {
  display: block;
  font-size: 12px;
  flex-direction: column;
}

.profile h2 {
  font-size: 18px;
}

.menu, .vocal-chains {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #797d85;
}

.menu-button, .chain-button {
  padding-top: 3px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}


.settings {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #38393c;
  height: 40px;
  width: 99%;
  border-radius: 10px;
  margin-bottom: -45px;
}

.settings button{
  color: #f1f1f1;
  background-color: #38393c;
  font-size: 1.1rem;
}
